.sec
        {
            letter-spacing: 8px !important;
            font-weight: 400;
            text-align: start;
            padding-bottom: 10px !important;
            font-size: 18px;
        }