.btn-list
        {
            /* background-color: red; */
            border-radius: 0;
        }
        .btn-list:hover
        {
            background-color: #ccc!important;
            border-radius: 0;
        }